tqdm
bcolz-zipline
prettytable
menpo
torch==2.0.1 
torchvision==0.15.2 
torchaudio==2.0.2
einops
lmdb
numpy<=1.23.5
opencv-python
pyyaml
scikit-learn
scipy
tensorboard
timm
yapf
requests
fvcore
matplotlib
protobuf<4.0.0
tb-nightly
fairscale
basicsr